:root {
  background-color: #242424;
  font-family: 'Open Sans', sans-serif;
}

span{
  background:#093009;
  padding:2px;
}

.container{
  border: 1px solid rgb(45, 46, 45);
  margin:90px auto 0 auto;
  padding: 12px;
  width: 232px;
}

.strings{
  color:#fff;
  font-size:46px;
  font-weight:700;
  margin-bottom:15px;
  text-align: center;
}



.container input {
  width:100px
}

#firstInput {
  margin-right:15px;
}